
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/index"><img class="d-inline-block align-top"src="https://www.computing.psu.ac.th/th/wp-content/uploads/2018/03/PSU-logo-Original.png" width="50" height="50" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="/activity">Activity<span class="sr-only">(current)</span></a>
        </li>

      <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Activity
          </a>
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/activity">All activities</a>
            <a class="dropdown-item" href="/activity/create">Add activity</a>
            
          </div> -->
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/user">Sign up<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <a class="navbar" style="color:white"> Hello, <%= data3.firstname%></a>
        <form action="/logout" method="post"class="form-inline my-2 my-lg-0">
            <input type="submit" value="Logout" class="btn float-right btn btn-danger btn-sm">
        </form>
  </div>
</nav> 

