<nav class="navbar navbar-default" role="navigation" >
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a href="/" class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Menu
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/index">Home</a></li>
                <li><a href="/activity">activity</a></li>              
            </ul>
        </div>
    
    </div>
    </nav>
    