<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <form action="/user/create/creating" method="post">
        <h3>Register</h3>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="validationDefault01">Firstname</label>
            <input type="text" class="form-control" name="firstname" id="validationDefault01" placeholder="ชื่อ"
              value="" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationDefault02">Lastname</label>
            <input type="text" class="form-control" name="lastname" placeholder="นามสกุล" value="" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationDefault02">Email</label>
            <input type="text" class="form-control" name="email" placeholder="อีเมลล์" value="" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationDefault02">Password</label>
            <input type="password" class="form-control" name="password" placeholder="พาสเวิร์ด" value="" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationDefault04">tel</label>
            <input type="text" class="form-control" name="tel" id="validationDefault04" placeholder="เบอร์โทรศัพท์" required>
          </div>
        </div>
        <div>
          <input type="submit" value="sign up" class="btn btn-primary">
        </div>

      </form>


    </div>
  </main>


  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>