
<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
      <div class="jumbotron">
        <h4> ● Check status and detail of activity </h4>
        <p> click  <a href="/activity">here</a></p> 
        <h4> ● Add an activity</h4> 
        <p> click <a href="/activity/create">here</p></h4>
      </div> 
  </main>


  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>